.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .checkbox {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

nav input {
  display: none;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }
}
